absl-py==2.4.0
attrs==26.1.0
certifi==2026.4.22
cffi==2.0.0
contourpy==1.3.3
cycler==0.12.1
flatbuffers==25.12.19
fonttools==4.62.1
jax==0.10.0
jaxlib==0.10.0
joblib==1.5.3
kiwisolver==1.5.0
matplotlib==3.10.9
mediapipe==0.10.13
ml_dtypes==0.5.4
numpy==2.4.4
opencv-contrib-python==4.13.0.92
opencv-python==4.13.0.92
opt_einsum==3.4.0
packaging==26.2
pandas==3.0.3
pillow==12.2.0
protobuf==4.25.9
pycparser==3.0
pygame==2.6.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
sounddevice==0.5.5
threadpoolctl==3.6.0
